<!doctype html>
<html>
<head>
<title>Edit the Restaurant</title>
</head>
<body>

<form action="http://localhost:8099/update" method="POST" enctype="multipart/form-data">
	<h1>Edit the Restaurant Information</h1><br>
	<h2>Name of restaurant:</h2>
	<input type="text" name="name" value="<%=name%>"><br>

	<h2>Address:</h2>
	Building: <input type="text" name="building" value="<%=building%>"><br>
	Street: <input type="text" name="street" value="<%=street%>"><br>
	Zipcode: <input type="text" name="zipcode" value="<%=zipcode%>"><br>
	<h3>Coordinates:</h3>
	Latitude: <input type="text" name="lat" value="<%=latitude%>"><br>
	Longitude: <input type="text" name="lon" value="<%=longitude%>"><br>


	<h2>Other Info</h2>
	Borough: <input type="text" name="borough" value="<%=borough%>"><br>
	Cuisine: <input type="text" name="cuisine" value="<%=cuisine%>"><br>
	Restaurant Id: <input type="text" name="restaurantid" value="<%=restaurantid%>"><br>
	Photo: <input type="file" name="photo" value="data:<%=contentType%>;base64,<%=photo%> "><br>
	<input type="submit" value="Update">
</form>

<a href="/logout">Logout</a>
<input type="button" onclick="<a href='/list'>"value = "List"></input>
<input type ="button" onclick="history.back()" value="Go back"></input>
</body>
</html>
